*{
    padding: 0 ;
    margin: 0 ;
    box-sizing: border-box;
}

header{
    background-color: rgb(174, 217, 232) ;
    min-height: 60px;
    padding-top: 10px;
    padding-bottom: 5px;
}

.container{
    display: flex;
    justify-content: center;
}

.orange-flex-container {
    display: flex;
    width: 70%;
    background-color: rgb(217, 164, 30);
}

.orange-flex-container div{
    padding: 10px 5px;
}

.logo-box{
    width: 25%;
}

.link-box{
    width: 50%;
    text-align: center;
}

.login-box{
    width: 25%;
    text-align: right;  
}

.blue-flex-container{
    display: flex;
    background-color: blue;
    height: 400px;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.borders{
    border: 1px dashed;
}

.pink-box{
    background-color: blueviolet;
    height: 300px;
    width: 50%;
}
     
.white-flex-container{
    display: flex;
    min-height: 400px;
    justify-content: center;
    align-items: center;
}

.lightblue-box{
    background-color: rgb(31, 143, 255);
    min-height: 300px;
    width: 40%;
}

.lightpink-box{
    background-color: rgb(255, 191, 202);
    min-height: 300px;
    width: 30%;
}
